<form action="/auth/signup" method="POST">
  <div class="form-group">
    <label for="new-email">Email</label>
    <input id="new-email" type="email" name="email" placeholder="Enter email">

    
    <label for="new-password">Password</label>
    <input id="new-password" type="password" name="password" placeholder="Create Password">

    <input type="submit" class="btn btn-primary" value="Sign up">
  </div>  
</form>
