<!-- TODO: verify that currentuser is looking at his own messages only -->

<div class="container">
  
  <% if (messages) { %>
    <h1>YOUR MESSAGES</h1>
      <ul>
      <% messages.forEach(function(message) { %>
        <li>From: <%= `${message.sender.name}`  %></li>
        <li><%= `${message.content}`  %></li>
      <% }) %> 
      </ul>
  <% } else {} %>  
</div>

