<div class="container">
  <% if (users.length) { %> 
    <h1>YOUR STARRED PROFILES</h1>
    <div class="container">
      <% users.forEach(function(user) { %>
        <div class="card">
          <div class="card-body">
            <img class="rounded-circle profile-photo-small align-middle" src="<%= user.profilePhotoUrl %>" width=80 height=80>
            <a class="review-title align-middle starred-name" href="../../profile/<%= user.id %>"><%= user.name %></a>
          </div>
        </div>
        <br>
      <% }) %>    
    </div>  
  <% } else { %>  
    <h2>No Starred Profiles Yet!</h2>
    <h3>Don't worry, you'll find the Simon to your Garfunkel. Just keep looking</h3>
  <% } %>   
</div>