
<div class="container"></div>
<h1>About Harmonic</h1>


<!-- <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img class="d-block w-100" src="https://i.imgur.com/JSVPc7B.jpg" alt="First slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/1q40OdA.jpg" alt="Second slide">
    </div>
    <div class="carousel-item">
      <img class="d-block w-100" src="https://i.imgur.com/zdCGFxj.jpg" alt="Third slide">
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div> -->
<div class="demoWrapper">
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
  </ol>
  <div class="carousel-inner">
      <div class="carousel-item active">
          <img class="d-block w-100" src="https://i.imgur.com/1h5ENQy.jpg" alt="First slide">
          <div class="carousel-caption d-none d-md-block">
              <h5 class="carousel-text">Welcome To Harmonic</h5>
          </div>
      </div>
      <div class="carousel-item">
          <img class="d-block w-100 carousel-img" src="https://i.imgur.com/9OADyZT.jpg" alt="Second slide">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="carousel-text">Welcome To Harmonic</h5>
        </div>
      </div>
      <div class="carousel-item">
          <img class="d-block w-100 carousel-img" src="https://i.imgur.com/sqLpLav.jpg?1" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="carousel-text">Welcome To Harmonic</h5>
        </div>
      </div>
      <div class="carousel-item">
          <img class="d-block w-100 carousel-img" src="https://i.imgur.com/qy3RTbU.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="carousel-text">Welcome To Harmonic</h5>
        </div>
      </div>
      <div class="carousel-item">
          <img class="d-block w-100 carousel-img" src="https://i.imgur.com/TQWbx1H.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="carousel-text">Welcome To Harmonic</h5>
        </div>
      </div>
      <div class="carousel-item">
          <img class="d-block w-100 carousel-img" src="https://i.imgur.com/wsHGl1p.jpg" alt="Third slide">
          <div class="carousel-caption d-none d-md-block">
            <h5 class="carousel-text">Welcome To Harmonic</h5>
        </div>
      </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
  </a>
</div>
</div>

<p>
Companies go online to find their next great hires and people use apps to search for true love. 

Harmonic makes it possible for musicians to find the perfect collaborator, narrowing down the quest for your next great bandmate with in-depth search capabilities, user testimonials, and intuitive in-app messaging. 

Stop wasting your time with scouring message boards for vague posts, endless back-and-forth emailing, and countless poor-fit auditions. You know what you're looking for, and Harmonic can help you find it. 

Whether you're seeking a saxophonist to round out your sound for a big one-off record release show or the drummer who understands your vision and is in it for the long haul, Harmonic has you covered. 

Narrow your search by genre, influences, and location. Check out in-app audio and video to see if this singer is the right fit for your sound. Read testimonials from other users to see if this virtuoso guitarist is as dependable as she is melodic. 

Start your search, start a conversation, and start counting off for the next downbeat. 
  
Collaboration is at the heart of almost any great musical endeavor. 


</p>