
<div class="container">
<h1>About Harmonic</h1>
<h4 class="about-black">A dedicated app for musical connections </h4>
<h3>If someone can find true love through an app, why shouldn't you be able to go online and find the bandmate of your dreams? </h3>
<h6 class="about-black">Stop wasting your time scouring message boards for vague ads, endless back-and-forth emailing, and countless poor-fit auditions. You know what you're looking for, and Harmonic can help you find it. </h6>
<hr />
<!-- <div class="container"> -->
  <div class="card-deck">
    <div class="card ">
      <img class="card-img-top" src="https://i.imgur.com/sqLpLav.jpg?1" alt="Card image cap">
      <div class="card-body about-card">
        <h5 class="card-title about-title">CONNECT WITH A KINDRED SPIRIT...</h5>
        <p class="card-text">Harmonic makes it possible for musicians to find the perfect collaborator, narrowing down the quest for your next great bandmate with in-depth search capabilities, user testimonials, and intuitive in-app messaging.  </p>
      </div>
    </div>
    <div class="card ">
      <img class="card-img-top" src="https://i.imgur.com/Phuql7L.jpg" alt="Card image cap">
      <div class="card-body about-card">
        <h5 class="card-title about-title">KEEP IT CASUAL...</h5>
        <p class="card-text">Seeking a saxophonist to round out your sound for a big one-off record release show or just need a last-minute violin overdub for your new track? Harmonic has you covered.</p>
      </div>
    </div>
    <div class="card ">
      <img class="card-img-top" src="https://i.imgur.com/qy3RTbU.jpg?1" alt="Card image cap">
      <div class="card-body about-card">
        <h5 class="card-title about-title">OR TAKE THINGS TO THE NEXT LEVEL</h5>
        <p class="card-text">Trying to find the drummer that understands your grand musical vision and wants to join you for the long haul? Collaboration is at the heart of almost any great musical endeavor. You can make it happen on Harmonic. 
        </p>
      </div>
    </div>
  </div>
  <!-- <div class="about-container"> -->
    <div class="card">
      <div class="card-body about-container">
    <p>
      
      Narrow your search by <b>genre</b>, <b>influences</b>, and <b>location</b>. Check out <b>in-app audio and video</b> to see if this singer is the right fit for your sound. Read <b>testimonials</b> from other users to see if this virtuoso guitarist is as dependable as she is melodic. 
      
      Start your search, start a conversation, and start counting off for the next downbeat. 
      
      
    </p>
  </div>
  </div>
  </div>
</div>


<p>
  
  
  
  
  
  
  

<!-- Whether you're seeking a saxophonist to round out your sound for a big one-off record release show or the drummer who understands your vision and is in it for the long haul, Harmonic has you covered.  -->