<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Harmonic</title>
    <!-- FONTS -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Bungee+Inline&family=Darker+Grotesque&family=New+Tegomin&family=Rajdhani&display=swap" rel="stylesheet"> 
    <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <!-- CUSTOM CSS -->
    <link rel="stylesheet" href="/css/style.css">
    <!-- FAVICON -->
    <link href="/assets/favicon.ico" type="image/x-icon" rel="icon"/>
  </head>
  <body>
    <header>

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="row align-items-center nw-100 order-1 order-md-0">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="navbar-brand" href="/">&nbsp;&nbsp;HARMONIC</a>
            </li>
          </ul>
        </div>
        <div class="mx-left order-1">
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
          <ul class="navbar-nav ml-auto">
            <% if (currentUser) { %>
              <li class="nav-item">
                <a class="nav-link" href="/profile"><%= (currentUser.dataValues)  %>'s Profile</a>
              </li>
              <% console.log((currentUser.dataValues.profile.profilePhotoUrl)); %> 
              <li class="nav-item">
                <a class="nav-link" href="/about">About</a>
              </li>
             
              <div class="collapse navbar-collapse" id="navbar-list-4">
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <img src="https://s3.eu-central-1.amazonaws.com/bootstrapbaymisc/blog/24_days_bootstrap/fox.jpg" width="40" height="40" class="rounded-circle">
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                      <a class="dropdown-item" href="#">Dashboard</a>
                      <a class="dropdown-item" href="#">Edit Profile</a>
                      <a class="dropdown-item" href="/auth/logout">Logout</a>
                    </div>
                  </li>   
                </ul>
              </div>

            <% } else { %>
              <li class="nav-item">
                <a class="nav-link" href="/auth/signup">Signup</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="/auth/login">Login</a>
              </li>
              <% }  %>
          </ul>
        </div>

        <!-- <ul>
            <li><a href="/auth/signup">Signup</a></li>
            <li><a href="/auth/login">Login</a></li>

            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/profile">Profile</a></li>
        </ul> -->
      </nav>
    </header>
    <%- include("partials/alerts") %>
    <%- body %>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script> 
  </body>
</html>

