
<div class="container justify-content-center">
  <form class="btn-form" method="post" action="../../search/savesearch/">
    <button class="btn btn-primary" value="<%= storedSearchString %>" name="storedSearchString" type="submit">SAVE THIS SEARCH</button>
  </form>
  <% if (users.length) { %> 
    <h1>SEARCH RESULTS</h1>
    <% users.forEach(function(user) { %>
      <div class="card">
        <div class="card-body">
          <img class="rounded-circle profile-photo-small align-middle" src="<%= user.profilePhotoUrl %>" width=80 height=80>
          <a class="starred-name align-middle" href="../../profile/<%= user.id %>"><%= user.name %></a>
        </div>
      </div>
      <br>
    <% }) %>   
  <% } else { %>  
    <h2>No Matches</h2>
    <h4>Refine Your Search and Try Again</h4>
  <% } %>  
</div>